@font-face {
  font-family: 'Brandon Grotesque Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Brandon Grotesque Regular'),
    url('../assets/fonts/Brandon_reg.woff') format('woff');
}

@font-face {
  font-family: 'IBM Plex Mono Regular';
  font-style: normal;
  font-weight: normal;
  src: local('IBM Plex Mono Regular'),
    url('../assets/fonts/IBMPlexMono-Regular.woff') format('woff');
}
